<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Credit Card Management System", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @{
                        if (Roles.GetRolesForUser().Length > 0)
                            {
                                if(Roles.GetRolesForUser()[0] == "Admin")
                                {
                                    <li>@Html.ActionLink("Customer List", "Index", "Customer")</li>
                                }
                            }                        
                    }
                    <!-- <li>@Html.ActionLink("Contact", "Contact", "Home")</li> -->
                    
                    @{
                        if(User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            <li>
                                <strong style="color:white">@User.Identity.Name</strong> |
                                @{
                            if (Roles.GetRolesForUser().Length > 0)
                            {
                                <strong style="color:white">@Roles.GetRolesForUser()[0]</strong>
                            }
                                }
                    </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                            <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>110301034 - Utku Can Gürses</p>
            <p>110301035 - Mert Arısoy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
