@model CreditCardManagementSystem.Models.Cards

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cards</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cvc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cvc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCard.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCard.CardNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
