@model CreditCardManagementSystem.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            Surname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerSurname)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Birth
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            Address 1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            Address 2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            Cell Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCell)
        </dd>

        <dt>
            Mobile Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneHome)
        </dd>

        <dt>
            Work Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneWork)
        </dd>
        @if (Roles.GetRolesForUser()[0] == "Admin")
        {
            <dt>
                Active
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @{if (Roles.GetRolesForUser()[0] == "Admin")
    {
        @Html.ActionLink("Back to List", "Index")
    }
    } |
    @Html.ActionLink("My Cards", "Index", "Card");

</p>
